*{
    margin: 0;
    padding: 0;
}
#top-nav{
    position: fixed;
    width: 100%;
    background-color: blue;
}
.header{
    color: white;
    background-color: rgba(7, 5, 5, 0.873);
}
.profile{
    width: 200px;
    height: 200px;
    background-color: black;
}
.img{
    width: 60%;
    height: auto;
}
.name{
    margin-bottom: 0px;
    font-size: 40px;
}
.work {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}
dt {
    float: left;
    font-weight: 650;
    text-transform: uppercase;
    color: #6c757d;
}
dd {
    padding-left: 100px;
    color: #fff;
}
dd a{
    color: #fff;
    text-decoration: none;
}
.social{
    margin-bottom: 20px;
}
ul li{
    list-style: none;
}
.title{
    border-left:2px solid ;
    border-color: rgb(122, 122, 174);
}
.block{
    margin-left: 10px;
}
.slide{
    position: fixed;
    width: 100%;
    background-color: red;
    box-shadow: #6c757d;
    
}
.pro2:hover{
    background-color: gray;
}
.parant {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}